.btn{
    background-color: var(--blue);
    color: var(--white);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid var(--blue);
    text-align: center;
    min-width: 100px;
    text-transform: capitalize;
    box-shadow: rgba(56, 59, 228, 0.4) 5px 5px, rgba(101, 42, 211, 0.3) 10px 10px, rgba(106, 45, 190, 0.2) 15px 15px, rgba(49, 46, 240, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.btn:hover{
    box-shadow:5px 5px 10px rgba(58, 128, 233, 0.5);
    transition: all 0.3s;
    border: 2px solid var(--blue);
}

.outlined-btn{
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--blue);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    min-width: 100px;
    text-transform: capitalize;
    box-shadow: rgba(56, 59, 228, 0.4) 5px 5px, rgba(101, 42, 211, 0.3) 10px 10px, rgba(106, 45, 190, 0.2) 15px 15px, rgba(49, 46, 240, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.outlined-btn:hover{
  background-color: var(--blue);
    transition: all 0.3s;
}